:host {
  position: relative;
  display: block;
  height: 100vh;
}

header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #64aaef;
}

nav {
  display: flex;
  gap: 0.8rem;

  ul {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    padding: 0.6rem;
    color: black;
    border-radius: 8px;

    &:hover {
      background-color: #5388bd;
    }
  }
}

main {
  padding: 1rem;
}
