<section>
  <h2>New Employee {{fullName()}}</h2>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        (ngModelChange)="firstName.set($event)"
        [ngModel]="firstName()"
        id="firstName"
        name="firstName"
        placeholder="First Name"
        required
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        (ngModelChange)="lastName.set($event)"
        [ngModel]="lastName()"
        id="lastName"
        name="lastName"
        placeholder="Last Name"
        required
      />
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <input
        (ngModelChange)="role.set($event)"
        [ngModel]="role()"
        id="role"
        name="role"
        placeholder="Role"
        required
      />
    </div>

    <div class="form-group">
      <label for="salary">Salary</label>
      <input
        (ngModelChange)="salary.set($event)"
        [ngModel]="salary()"
        id="salary"
        name="salary"
        placeholder="Salary"
        required
      />
    </div>

    <button (click)="saveForm()">Save</button>
  </form>
</section>
