* {
  box-sizing: border-box;
  font-family: 'AA Zuehlke', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

button {
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
  background-color: #bbddff;
  cursor: pointer;

  &:hover, &:focus {
    background-color: #66b2ff;
  }
}
